<div class="row">  
    <div class="col-md-6 mb-3">
      <input type="searh" class="form-control" id="search" placeholder="Filter"
        (keyup)="applyFilter($event.target.value)">
    </div>
    <div class="col-md-6 right">
        <button mat-raised-button>
          <mat-select multiple [value]="columns.selected" (selectionChange)="columnsChanged($event)">
            <mat-option *ngFor="let col of enabledColumns" [disabled]="col == 'select'" [value]="col">{{col}}</mat-option>
          </mat-select>
        </button>
      </div>  
  </div>
  
<div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)">
  
      <ng-container [matColumnDef]="column" *ngFor="let column of columns.selected">
        <div *ngIf="column == 'select'">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </div>
        <div *ngIf="column != 'select'">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header="{{column}}" i18n> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </div>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columns.selected"></tr>
      <tr mat-row *matRowDef="let row; columns: columns.selected"></tr>
    </table>
  
    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageIndex]="pageNumber" (page)="onPageChanged($event)">
    </mat-paginator>
  </div>